
ul {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  width:100vw;
  height: 100vh;
  min-width: 1250px;
  min-height: 800px;
  text-align: center;
  background-color: #F9FAFB;
}
.InfoBox {
  background-color: #fff;
  border-radius: 2%;
  border: 2px solid #F1F2F3;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
  /*margin:10px;*/
}
.chartsTitle {
  font-size: 23px;
  text-align: start;
  height: 60px;
  width: 100%;
  line-height: 60px;
}
.chartsTitle>span {
  padding-right: 10px;
  height: 100%;
  border-bottom: 3px solid #6cb6df;
}
/*滚轮样式*/
::-webkit-scrollbar
{
  width:5px;
  height: 5px;
  /*background-color:#F5F5F5;*/
}
::-webkit-scrollbar-thumb
{
  border-radius:10px;
  -webkit-box-shadow:inset 0 0 6px rgba(84,92,98,0.6);
}
